@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    margin: 0px;
    display: flex;
    min-width: 100vw;
    justify-content: center;
    background: #010100;
    color: #e7e9ea;
}